<section style="background-color: #f1f1fc" class="">
  <div class="row d-flex justify-content-between">
    <div class="col-8">
      <img src="../../assets/images/logo.png" alt="" />
    </div>
    <div style="position: relative" class="col-4 footer-input">
      <input type="text" />
      <i class="footer-inputIcon bi bi-send-fill"></i>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <ul class="footer-links d-flex justify-content-around">
        <li>Acceuil</li>
        <li>Présentation</li>
        <li>Formation</li>
        <li>Faq</li>
      </ul>
    </div>
  </div>
  <div class="footer-divider"></div>
  <div class="row">
    <div class="footer-text col-10 pt-3">
      <p>© copy right, All right reserved.</p>
    </div>
    <div class="col-2 d-flex justify-content-around pt-2">
      <a class="footer-socials" href="">
        <i class="bi bi-linkedin"></i>
      </a>
      <a class="footer-socials" href="">
        <i class="bi bi-facebook"></i>
      </a>
      <a class="footer-socials" href="">
        <i class="bi bi-instagram"></i>
      </a>
      <a class="footer-socials" href="">
        <i class="bi bi-twitter"></i>
      </a>
    </div>
  </div>
</section>
