<section style="background-color: #f1f1fc" class="">
  <div class="row d-flex justify-content-between">
    <div class="col-6">
      <img src="../../assets/images/logo.png" alt="" />
    </div>
    <div class="col-6">
      <input type="text" />
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <ul class="d-flex justify-content-around">
        <li>Acceuil</li>
        <li>Présentation</li>
        <li>Formation</li>
        <li>Faq</li>
      </ul>
    </div>
  </div>
  <div class="footer divider"></div>
  <div class="row">
    <div class="col-6">
      <p>Copy right, All right reserved.</p>
    </div>
    <div class="col-6">
      <a href="">
        <i style="color: #4540e1" class="bi bi-linkedin"></i>
      </a>
      <a href="">
        <i style="color: #4540e1" class="bi bi-facebook"></i>
      </a>
      <a href="">
        <i style="color: #4540e1" class="bi bi-instagram"></i>
      </a>
      <a href="">
        <i style="color: #4540e1" class="bi bi-twitter"></i>
      </a>
    </div>
  </div>
</section>
