.pres-header {
  margin-left: 2rem;
}

.pres-header h3 {
  font-size: 2.5rem;
}

.header-divider {
  width: 27%;
  height: 0.2rem;
  background-color: #515151;
  margin-left: 2rem;
}

.pres-content {
  background-color: #4540e1;
  height: 65vh;
}

.pres-content h3 {
  color: #fff;
  font-weight: bold;
  font-size: 2.5rem;
  margin-top: 8rem;
}
.content-divider {
  width: 55%;
  height: 0.2rem;
  background-color: #fff;
}

.pres-content p {
  margin-top: 3rem;
  color: #fff;
  font-size: 1.2rem;
  text-align: justify;
  padding-right: 3rem;
}

.pres-btn {
  background-color: #f1f1fc;
  height: 15vh;
  margin-bottom: 4rem;
}

.pres-btn button {
  background-color: #4540e1;
  padding: 0.9rem 5rem;
  margin-top: 2.2rem;
  border: none;
  color: #fff;
  border-radius: 25px;
  font-weight: bold;
  font-size: 1.3rem;
  box-shadow: 8px 8px 16px rgba($color: #4540e1, $alpha: 0.2);
}

.pres-img {
  position: absolute;
  top: 20%;
  left: 10%;
}

.pres-img img {
  width: 480px;
  --webkit-filter: drop-shadow(5px 5px 50px #222);
  filter: drop-shadow(5px 5px 50px #222);
}
