<section style="position: relative">
  <div class="pres-header mt-5">
    <h3 style="overflow-y: hidden">Présentation de l'université</h3>
  </div>
  <div class="header-divider"></div>
  <div class="pres-content row mt-5">
    <div class="col-6"></div>
    <div class="col-6">
      <h3 style="overflow-y: hidden">L'université Pour l'avenir</h3>
      <div class="content-divider"></div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit
        ratione corrupti consequuntur modi consequatur nisi harum repudiandae
        veritatis odit, quod dolorem quia? Excepturi quod error facilis maiores
        ullam culpa inventore.
        <br />
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit
        ratione corrupti consequuntur modi consequatur nisi harum repudiandae
        veritatis odit, quod dolorem quia? Excepturi quod error facilis maiores
        ullam culpa inventore.
      </p>
    </div>
  </div>
  <div class="pres-btn row">
    <div class="col-10"></div>
    <div class="col-2">
      <button>Voir Plus</button>
    </div>
  </div>
  <div class="pres-img">
    <img src="../../assets/images/image_présentation.png" alt="" />
  </div>
</section>
