<div class="slider-card">
  <h1>La session</h1>
  <p style="font-weight: bold">Del'année Scholaire 2022-2023 a commancé</p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil neque
    accusamus reiciendis inventore porro quae. Eaque est cupiditate officia
    totam consequatur ut quisquam quaerat sit, dolorum praesentium eum ratione
    impedit.
  </p>
  <div class="row">
    <div class="col-7"></div>
    <div class="col-5">
      <button class="m-3">Savoir plus</button>
    </div>
  </div>
</div>
