.slider-card {
  position: absolute;
  left: 15%;
  top: 20%;
  width: 30%;
  background-color: rgba($color: #f1f1fc, $alpha: 0.5);
  padding: 2rem;
  border-radius: 25px;
  // box-shadow: 8px 8px 16px rgba($color: #4540e1, $alpha: 0.2);
}

.slider-card h1 {
  color: #4540e1;
  font-weight: bold;
}

.slider-card p {
  margin-top: 1rem;
  margin-left: 10%;
  font-size: 1.2rem;
  color: #515151;
}

.slider-card button {
  background-color: #4540e1;
  color: #fff;
  padding: 0.7rem 2.2rem;
  border: none;
  border-radius: 25px;
  box-shadow: 8px 8px 16px rgba($color: #4540e1, $alpha: 0.2);
}
