<section class="row">
  <div class="col-3 form-leftside">
    <div class="row leftside-headers">
      <h2>Votre</h2>
      <h4>Future est la</h4>
    </div>
    <div class="row leftside-img d-flex justify-content-center mt-5">
      <img src="../../assets/images/form_image1.png" alt="" />
      <img src="../../assets/images/form_image2.png" alt="" />
    </div>
  </div>
  <div class="col-9">
    <div class="rightSide-headers">
      <h1>Inscription</h1>
      <h3>Form d’inscriptions pour l’université</h3>
      <h5>
        Veuillez remplir tous les champs nécessaire pour votre inscriptions
      </h5>
    </div>
    <div class="mt-5">
      <div class="row m-4">
        <div class="col-6 input-display">
          <label for="">Nom</label>
          <input
            class="mt-2"
            placeholder="entrer votre nom"
            type="text"
            name=""
            id=""
          />
        </div>
        <div class="col-6 input-display">
          <label for="">Prénom</label>
          <input
            class="mt-2"
            placeholder="entrer votre prénom"
            type="text"
            name=""
            id=""
          />
        </div>
      </div>

      <div class="row m-4">
        <div class="col-6 input-display">
          <label for="">Email</label>
          <input
            class="mt-2"
            placeholder="entrer votre email"
            type="text"
            name=""
            id=""
          />
        </div>
      </div>

      <div class="row m-4">
        <div class="col-6 input-display">
          <label for="">Mot de passe</label>
          <input
            class="mt-2"
            placeholder="entrer votre mot de passse"
            type="password"
            name=""
            id=""
          />
        </div>

        <div class="col-6 input-display">
          <label for="">Confirmation du mot de passe</label>
          <input
            class="mt-2"
            placeholder="confirmer votre mot de passe"
            type="text"
            name=""
            id=""
          />
        </div>
      </div>

      <div class="row m-4">
        <div class="col-6 input-display">
          <label for="">Année Scholaire</label>
          <select class="mt-2" name="" id="">
            <option value="">2023-2022</option>
            <option value="">2024-2023</option>
            <option value="">2025-2024</option>
            <option value="">2026-2025</option>
          </select>
        </div>
        <div class="col-6 input-display">
          <label for="">Filière</label>
          <select class="mt-2" name="" id="">
            <option value="">IT</option>
            <option value="">ECO</option>
            <option value="">MARKETING</option>
            <option value="">EDUCATION</option>
          </select>
        </div>
      </div>

      <div class="row d-flex justify-content-end">
        <div class="col-4 form-btn">
          <button>S'inscrire</button>
        </div>
      </div>
    </div>
  </div>
</section>
