<section>
  <div class="news-header">
    <h3 style="overflow-y: hidden">Actualités</h3>
  </div>
  <div class="header-divider"></div>
  <div class="news-content mt-5">
    <div class="row-content row d-flex justify-content-center">
      <div class="col-4">
        <app-actualites-card-large></app-actualites-card-large>
      </div>
      <div class="col-2">
        <app-actualites-card></app-actualites-card>
      </div>
      <div class="col-2">
        <app-actualites-card></app-actualites-card>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-2">
        <app-actualites-card></app-actualites-card>
      </div>
      <div class="col-2">
        <app-actualites-card></app-actualites-card>
      </div>
      <div class="col-4">
        <app-actualites-card-large></app-actualites-card-large>
      </div>
    </div>
  </div>
  <div class="news-btn d-flex justify-content-center mt-5 mb-5">
    <button>Plus d'actualités</button>
  </div>
</section>
